* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  position: relative;
  background-image: url(../images/bmr.jpg);
}

#root #all-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 80%;
}

#root #all-content #all-card {
  background-color: rgba(142, 202, 230, 0.705);
  min-height: 50vh;
  min-width: 50vw;
  padding: 1rem;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root #all-content #all-card h1 {
  font-size: 1.5rem;
  margin: 1rem;
}

#root #all-content #all-card form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#root #all-content #all-card form input, #root #all-content #all-card form select {
  width: 50%;
  height: 2rem;
  border: 0;
  margin: 0.5rem;
  padding-left: 5px;
  color: #000;
  font-size: 1rem;
}

#root #all-content #all-card form input:hover, #root #all-content #all-card form select:hover {
  background-color: #f2f2f2;
}

@media (max-width: 1050px) {
  #root #all-content #all-card form input, #root #all-content #all-card form select {
    min-width: 50vw;
  }
}

#root #all-content #all-card form #submit {
  padding-left: 0;
  background-color: #ffb603;
  font-weight: bold;
  text-transform: uppercase;
  width: 10rem;
  height: 3rem;
}

#root #all-content #all-card form #submit:hover {
  background: #f3ac00;
  cursor: pointer;
}

@media (max-width: 1050px) {
  #root #all-content #all-card form #submit {
    min-width: 10rem;
    height: 3rem;
  }
}

#root #all-content #all-card form .weight-message,
#root #all-content #all-card form .height-message,
#root #all-content #all-card form .age-message {
  display: none;
  color: #ff0033;
}

#root #all-content #all-card #result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
  background-color: #fff;
  width: 50%;
  padding: 1rem;
}

#root #all-content #all-card #result #bmr-card, #root #all-content #all-card #result #activity-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-direction: row;
      flex-direction: row;
  font-size: 1.1rem;
}

#root #all-content #all-card #result #bmr-card span, #root #all-content #all-card #result #activity-card span {
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}

#root #all-content #all-card #result #activity-card span {
  font-weight: bold;
}

@media (max-width: 1050px) {
  #root #all-content #all-card #result {
    min-width: 50vw;
  }
}

@media (max-width: 1050px) {
  #root #all-content #all-card {
    margin: 2rem;
    min-width: 75vw;
  }
}

@media (max-width: 1050px) {
  #root #all-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 3rem;
  }
}

#root footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */