@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  position: relative;
  background-color: #F8FDEE;
}

#root #all-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 80%;
  padding-bottom: 3rem;
}

@media (max-width: 992px) {
  #root #all-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#root #all-content #all-card {
  background-color: #ABC270;
  min-height: 50vh;
  min-width: 50vw;
  padding: 1rem;
  margin: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  #root #all-content #all-card {
    margin: 2rem;
    min-width: 75vw;
  }
}

@media (max-width: 576px) {
  #root #all-content #all-card {
    margin: 2rem auto;
    width: 90vw;
  }
}

#root #all-content #all-card h1 {
  font-size: 2.5rem;
  margin: 1rem auto 2rem;
  color: #FFFFFF;
}

@media (max-width: 992px) {
  #root #all-content #all-card h1 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  #root #all-content #all-card h1 {
    font-size: 1.5rem;
  }
}

#root #all-content #all-card form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#root #all-content #all-card form div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.4rem auto;
}

#root #all-content #all-card form div label {
  text-transform: uppercase;
  color: #212529;
}

#root #all-content #all-card form div input, #root #all-content #all-card form div .select-wrapper select {
  width: 50%;
  height: 2.5rem;
  border: 0;
  margin: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #212529;
  font-size: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  outline: 0;
}

#root #all-content #all-card form div input:hover, #root #all-content #all-card form div .select-wrapper select:hover {
  background-color: #f2f2f2;
}

@media (max-width: 1200px) {
  #root #all-content #all-card form div input, #root #all-content #all-card form div .select-wrapper select {
    width: 90%;
  }
}

#root #all-content #all-card form div .error-class {
  border: 1px solid #d93025;
  -webkit-box-shadow: 0 0.1rem 1rem #d93025;
          box-shadow: 0 0.1rem 1rem #d93025;
}

#root #all-content #all-card form div .select-wrapper {
  position: relative;
  width: 50%;
}

@media (max-width: 1200px) {
  #root #all-content #all-card form div .select-wrapper {
    width: 90%;
  }
}

#root #all-content #all-card form div .select-wrapper::after {
  content: "▼";
  font-size: 0.7rem;
  top: 23px;
  right: 1rem;
  position: absolute;
  color: #212529;
}

#root #all-content #all-card form div .select-wrapper select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

#root #all-content #all-card form div .weight-message,
#root #all-content #all-card form div .height-message,
#root #all-content #all-card form div .age-message {
  display: none;
  color: #d93025;
  text-transform: uppercase;
  font-weight: bold;
}

#root #all-content #all-card form #submit {
  background-color: #E76F51;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  width: 10rem;
  height: 3rem;
  color: #FFFFFF;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 1rem auto;
}

#root #all-content #all-card form #submit:hover {
  background: #e56444;
  cursor: pointer;
}

@media (max-width: 992px) {
  #root #all-content #all-card form #submit {
    min-width: 10rem;
    height: 3rem;
  }
}

#root #all-content #all-card #result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
  background-color: #FFFFFF;
  width: 50%;
  padding: 1rem;
}

@media (max-width: 1200px) {
  #root #all-content #all-card #result {
    width: 90%;
  }
}

#root #all-content #all-card #result #bmr-card, #root #all-content #all-card #result #activity-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-direction: row;
      flex-direction: row;
  font-size: 1.1rem;
}

#root #all-content #all-card #result #bmr-card span, #root #all-content #all-card #result #activity-card span {
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}

#root #all-content #all-card #result #activity-card span {
  font-weight: bold;
}

#root #all-content #all-card .result {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#root #all-content #all-card .green-class {
  border: 1px solid green;
  -webkit-box-shadow: 0 .1rem 1rem green;
          box-shadow: 0 .1rem 1rem green;
}

#root footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */