
@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin small {
    @media (max-width: $small) {
        @content;
    }
}

@mixin large {
    @media (max-width: $large) {
        @content;
    }
}

@mixin extra-large {
    @media (max-width: $extra-large) {
        @content;
    }
}
