
@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}
