// $primary-color: #00B470;
$primary-color: #2A9D8F;
$secondary-color: #fff;
$third-color: #000;
// $fourth-color: #ffb603;
$fourth-color: #E9C46A;
// $fifth-color: #00CBFF;
$fifth-color: #E76F51;
// $error-color: #ff0033;
$error-color: #AE2012;
$mobile: 1050px;
