
// Colors
$primary-color: #ABC270;
$secondary-color: #FFFFFF;
$third-color: rgb(33,37,41);
$fourth-color: #F8FDEE;
$fifth-color: #E76F51;
$error-color: #d93025;

// Breakpoints
$small: 576px;
$large: 992px;
$extra-large: 1200px;
