// Colors
// $primary-color: #ABC270;
$primary-color: #FF6C22;
$secondary-color: #FFFFFF;
$third-color: rgb(33,37,41);
// $fourth-color: #F8FDEE;
$fourth-color: #FFD099;
// $fifth-color: #E76F51;
$fifth-color: #2B3499;
$error-color: #d93025;

// Breakpoints
$small: 576px;
$large: 992px;
$extra-large: 1200px;