@import './resets';
@import './variables';
@import './mixins';

#root {
    @include flexCenter;
    min-height: 100vh;
    position: relative;
    background-color: $fourth-color;

    #all-content {
        @include flexCenter;
        flex-direction: row;
        justify-content: space-around;
        min-width: 80%;
        padding-bottom: 3rem;
        
        @include large {
            flex-direction: column;          
        }

        #all-card {
            background-color: $primary-color;
            min-height: 50vh;
            min-width: 50vw;
            padding: 1rem;
            margin: 2rem;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

            @include large {
                margin: 2rem;
                min-width: 75vw;
            }

            @include small {
                margin: 2rem auto;
                width: 90vw;
            }

            @include flexCenter;
            
            h1 {
                font-size: 2.5rem;
                margin: 1rem auto 2rem;
                color: $secondary-color;

                @include large {
                    font-size: 2rem;
                }

                @include small {
                    font-size: 1.5rem;
                }
            }
        
            form {
                @include flexCenter;
                width: 100%;
    
                div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0.4rem auto;

                    label {
                        text-transform: uppercase;
                        color: $third-color;
                    }

                    input {
                        width: 50%;
                        height: 2.5rem;
                        border: 0;
                        margin: 0.5rem;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        color: $third-color;
                        font-size: 1rem;
                        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
                        outline: 0;
    
                        &:hover {
                            background-color: darken($secondary-color, 5%);
                        }

                        @include extra-large {
                            width: 90%;
                        }
                    }

                    .error-class {
                        border: 1px solid $error-color;
                        box-shadow: 0 .1rem 1rem $error-color;
                    }
        
                    .select-wrapper {
                        position: relative;
                        width: 50%;

                        @include extra-large {
                            width: 90%;
                        }

                        &::after {
                            content: "▼";
                            font-size: 0.7rem;
                            top: 23px;
                            right: 1rem;
                            position: absolute;
                            color: $third-color;
                        }

                        select {
                            @extend input;
    
                            width: 100%;
                            -webkit-appearance: none;
                            appearance: none;
                        }
                    }
    
                    .weight-message,
                    .height-message,
                    .age-message {
                        display: none;
                        color: $error-color;
                        text-transform: uppercase;
                        font-weight: bold
                    }
                }

                #submit {
                    background-color: $fifth-color;
                    font-weight: bold;
                    text-transform: uppercase;
                    border: none;
                    width: 10rem;
                    height: 3rem;
                    color: $secondary-color;
                    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
                    margin: 1rem auto;

                    &:hover {
                        background: darken($fifth-color, 3%);
                        cursor: pointer;
                    }

                    @include large {
                        min-width: 10rem;
                        height: 3rem;
                    }
                }
            }

            #result {
                @include flexCenter;
                margin: 1.5rem 0;
                background-color: $secondary-color;
                width: 50%;
                padding: 1rem;

                @include extra-large {
                    width: 90%;
                }

                #bmr-card {
                    @include flexCenter;
                    justify-content: flex-start;
                    flex-direction: row;
                    font-size: 1.1rem;
    
                    span {
                        font-weight: bold;
                        margin-left: 0.5rem;
                        margin-right: 0.2rem;
                    }
                }
            
                #activity-card {
                    @extend #bmr-card;
    
                    span {
                        font-weight: bold;
                    }
                }
            }

            .result {
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
            }

            .green-class {
                border: 1px solid green;
                box-shadow: 0 .1rem 1rem green;
            }
        }
    }
    
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
